.mother{
margin-left:40px;
margin-right:40px;
}





.menu {
  background-color:White;
 margin-bottom:50px;
  
}


.container {
 
}

.left {
  display:inline-block;
  width:40%;
}

.h1 {
  display:inline-block
}

.header{
  
  margin-bottom:20px
  
}
.descraption{
  margin-bottom:20px
}

.appstore {
  width:30%;
  border-radius:15px;
  outline:none;
  
}




.right 	{
  display:inline-block;
  width:40%;
  background-color:White;
}

.rightimg {
 
  width:130%;
}



.footer {
  text-align:center;
  font-size:40px;
  font-style:bold;
  padding:50px;
  margin-top:150px
  
}


.logo {
  width:30px;
  height:30px;
  margin-right:350px;
  
  }
  
  .menuItem {
	text-decoration:none;
	color:inherit;
	margin-left:30px;
	font-size:16px;
    te
  }
  
  .menuItem:hover{
	
	text-decoration:underline;
  }
  
  .blockElement {
	display:block;
	margin-top:10px;
	margin-bottom:10px;
	border:none;
	background-color:LightGray;
	height:35px;
	width:200px;
	border-radius:15px;
	outline:none;
	padding-left:15px;
	padding-right:15px;
	font-size:15px;
  }
  
  .myanmar {
	background-color:#0084ff;
	border-radius:24px;
	border:none;
	color:White;
	padding:2px 20px 0px;
	font-size:19px;
	height:40px;
	width:100px;
	
  }
  
 .input{
   
  margin-bottom:20px;
 }
 
 .forgot{
   margin-bottom:15px;
 }
